table, th, td{
    border: 1px solid rgb(234, 226, 226);
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align:center;
}
fieldset{
    width: 50%;
    height: auto;
}
h2 ,p,h3,ll{
    text-align: left;
}
a{
    float: left;
}